/* Global */
body {
    margin: 0rem;
}

.card_container {
    position: relative;
}

.card-container_cover {
    width: 100vw;
    height: 43.75rem;
    object-fit: cover;
    object-position: 47% 53%;
}

.card-container_title {
    position: absolute;
    top: 1.25rem;
    left: 5.5rem;
    font-size: 4.375rem;
    color: white;
}

/* Schedule Card */
.card-container_schedule {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    position: absolute;
    top: 12.5rem;
    left: 14.6875rem;
}

.schedule_card {
    background-color: white;
    width: 15.625rem;
    height: 21.875rem;
    border-radius: 0.3125rem;
    color: black;
    text-align: center;
}

.schedule-card_datetitle {
    margin: 1.125rem 1.375rem;
    width: 85%;
    border-bottom: 0.125rem solid black;
}

.schedule-card_AllEvents {
    margin-top: 1.5625rem;
    padding: 0rem;
}

.schedule-card_event {
    background-color: #FEFAF5;
    font-size: 1.125rem;
    margin: 0.9375rem 1.25rem;
    width: 12.1875rem;
    height: 1.5625rem;
    padding: 0.625rem;
    list-style: none;
}

/* Hawaii Container */

/* Greece Container */

/* Iceland Container */