/* Body */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
.header {
    background-color: #FFFFFF;
    color: #335576;
}

.currentavticepage {
    text-decoration: underline;
    text-decoration-color: #DB7A4E;

}

/* Footer */
.footer {
    background-color: #FEFAF5;
    color: #335576;
}

.footersubtitles {
    color: #DB7A4E;
}