/* First Container */
.first_container {
    background-color: #FEFAF5;
    color: #335576;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3.125rem 4.375rem;
    gap: 5.625rem;
}

.first-container_left {
    position: relative;
    top: 0rem;
    left: 0.625rem;
    width: 40.625rem;
}

.first-container_header, .first-container_description, .first-container_button {
    margin-top: 0.625rem;
    margin-bottom: 1.5625rem;
}

.first-container_header {
    width: 34.375rem;
    font-size: 2.375rem;
}

.first-container_buttonlink {
    text-decoration: none;
}

.first-container_button {
    background-color: #DB7A4E;
    color: #FFFFFF;
    width: 75px;
    border: none;
    border-radius: 3.125rem;
    padding: 0.625rem 3.125rem;
    font-size: 0.8rem;
    font-weight: 400;
    transition: transform .2s;
}

.first-container_button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.first-container_coverphoto {
    width: 28.125rem;
}

/* Second Container */
.second_container {
    color: #335576;
}

.second-container_header {
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
    margin-left: 4.375rem;
}

.second-container_list {
    display: flex;
    gap: 2.8125rem;
    justify-content: center;
    margin-bottom: 4.375rem;
}

.second-container_card {
    position: relative;
    text-align: center;
    width: 262px;
    height: 405.333px;
    transition: transform .2s;
}

.second-container_card:hover {
    transform: scale(1.05);
}

.second-container_link {
    text-decoration: none;
}

.second-container_cardcover {
    border-radius: 0.3125rem;
    border: 0.0625rem solid rgba(0,0,0,0.2);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px;
    width: 16.25rem;
    height: 25rem;
}

.second-container_carddescription {
    position: absolute;
    bottom: 0.0625rem;
    right: 1.3125rem;
}

.second-container_listitem {
    color: white;
}



